@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance { /* create custom tailwind property */
    text-wrap: balance;
  }
}

.markdown-content img {
  @apply block mx-auto;
}

.latex-content {
  overflow-x: auto;
  word-wrap: break-word;
}
